.divContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-top: 65px;
}

.info__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 98vh;
}